<% @todos.each do |todo| %>
  <div class="well col-sm-6 col-md-4 col-lg-3">
    <h4>
      <%= link_to "#{todo.title}", rails_admin.show_path(model_name: 'todo', id: todo.id) %>
    </h4>
    <hr>
    <p>
      <%= todo.description %>
    </p>
    <p>
      Status: <span class="label label-<%= todo.todo_status.color %>"><%= todo.todo_status.status %></span>
    </p>
  </div>
<% end %>
